<!DOCTYPE html>
<html>
<head>
  <title>Angular2RailsDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<my-app>Loading...</my-app>
<%= yield %>

</body>
</html>
