<!DOCTYPE html>
<html>
<head>
  <title>Angular2Es6Rails</title>
  <%= stylesheet_link_tag    "angular2_es6_rails/application", media: "all" %>
  <%= javascript_include_tag "angular2_es6_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
